

<div class="">

   <div class="bg-mi-color-dos px-8 py-5 mb-8">
      <h2
         class="
            text-mi-color-uno
            text-5xl
            font-black
            mb-5
         "
      >Productos</h2>

      <div
         
         class="flex "
      >
         <div class="flex flex-col mr-8 w-2/3">
            <input
               type="text"
               name="nombre"
               id="nombre"
               placeholder="Buscar producto por id"

               [(ngModel)]="productoId"
   
               class="
                  px-2
                  py-2
                  rounded-md
               "
            >
         </div>

         <button
            (click)="productoPorId()"
            [routerLink]="['/producto/ver', productoId]"
            class="
               text-mi-color-uno
               bg-mi-color-tres
               px-6
               rounded-md
               text-xl
               font-semibold

               hover:text-mi-color-tres
               hover:bg-mi-color-uno
               hover:border-mi-color-tres

               transition-colors
            "
         >
            Buscar
         </button>
      </div>

   </div>

   <div
      *ngIf="hayError"
      class="text-red-500 text-3xl text-center"
   >
      No hay productos
   </div>

   <div
      *ngIf="hayError"
      class="text-red-500 text-3xl text-center"
   >
      No hay productos
   </div>

   <ng-template #espere>
      <div
         class="text-mi-color-tres text-3xl text-center"
      >
         Espere...
      </div>
   </ng-template>

   <div
      *ngIf="productos.length > 0; else espere"
      class="mx-8 p-3 bg-gray-300 rounded-md">
      <table class="table-auto w-full ">
         <thead class="border-b">
            <tr class="">
               <th class="text-left">Nombre</th>
               <th class="text-left">Descripción</th>
               <th class="text-left">Stock</th>
               <th class="text-left">Precio</th>
               <th class="text-left">ID</th>
               <th class="text-left">Acciones</th>
            </tr>
         </thead>
   
         <tbody>
            <tr
               *ngFor="let producto of productos"
               class="hover:bg-gray-200 transition-colors rounded-md"
            >
               <td>{{ producto.nombre }}</td>
               <td>{{ producto.descripcion }}</td>
               <td>{{ producto.stock }}</td>
               <td>{{ producto.precio }}</td>
               <td>{{ producto._id }}</td>
               <td>
                  <button
                     [routerLink]="['/producto/editar', producto._id]"
                     class="bg-blue-500 p-2 rounded-md mr-2 text-mi-color-uno"
                  >Editar</button>

                  <button
                     (click)="eliminarProducto(producto._id!)"
                     class="bg-red-500 p-2 rounded-md text-mi-color-uno"
                  >Eliminar</button>
               </td>
            </tr>
         </tbody>
      </table>
   </div>

   
   

   
   
</div>