
<aside class="bg-mi-color-dos h-screen px-2 py-5">
   <h2
      class="
         text-mi-color-uno
         font-black
         mt-6
         text-4xl
      "
   >Productos</h2>

   <hr class="bg-mi-color-uno mb-6">

   <div
      class="
         bg-mi-color-uno
         text-xl
         font-medium
         p-2
         rounded-md
         cursor-pointer
         mb-4
         mr-1
         text-center

         transition-colors
      "
      routerLink="productos"
      routerLinkActive="text-mi-color-tres" 
   >
      Ver productos
   </div>

   <div
      class="
         bg-mi-color-uno
         text-xl
         font-medium
         p-2
         rounded-md
         cursor-pointer
         mb-4
         mr-1
         text-center


         transition-colors
      "
      routerLink="producto/crear"
      routerLinkActive="text-mi-color-tres" 
   >
      Crear producto
   </div>

</aside>